<form [formGroup]="passwordForm" (ngSubmit)="post(passwordForm.getRawValue())">
  <h1 mat-dialog-title>Forgot password</h1>
  <mat-dialog-content>
    <mat-form-field>
      <input matInput formControlName="email" placeholder="E-mail" required>
    </mat-form-field>
    <p *ngIf="error?.description">{{error.description}}</p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button color="secondary" (click)="dialogRef.close()" type="button">Cancel</button>
    <button mat-raised-button color="primary" [disabled]="passwordForm.pristine || passwordForm.status === 'INVALID'" type="submit">Change password</button>
  </mat-dialog-actions>
</form>
