<form [formGroup]="loginForm" (ngSubmit)="post(loginForm.getRawValue())">
<h1 mat-dialog-title>Authentication</h1>
<mat-dialog-content>
    <mat-input-container>
        <input matInput formControlName="username" placeholder="E-mail" required>
    </mat-input-container>
    <mat-input-container>
        <input matInput formControlName="password" placeholder="Password" type="password" required>
    </mat-input-container>
    <p *ngIf="error?.description?.description">{{error.description.description}}</p>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button [disabled]="loginForm.pristine || loginForm.status === 'INVALID'" type="submit">Login</button>
</mat-dialog-actions>
</form>
