<form [formGroup]="loginForm" (ngSubmit)="post(loginForm.getRawValue())">
<h1 mat-dialog-title>Authentication</h1>
<mat-dialog-content>
    <mat-form-field>
        <input matInput formControlName="username" placeholder="E-mail" required>
    </mat-form-field>
    <mat-form-field>
        <input matInput formControlName="password" placeholder="Password" type="password" required>
    </mat-form-field>
    <p *ngIf="error?.description">{{error.description}}</p>
</mat-dialog-content>
<mat-dialog-actions>
    <button type="button" class="change-password" (click)="dialogRef.close('change-password')">Forgot password?</button>
    <button mat-button color="secondary" (click)="dialogRef.close()" type="button">Cancel</button>
    <button mat-raised-button color="primary" [disabled]="loginForm.pristine || loginForm.status === 'INVALID'" type="submit">Login</button>
</mat-dialog-actions>
</form>
